n8n-ai-decision-workflow.json
{
  "name": "n8n-ai-decision-workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ],
      "id": "ff5a086c-3c37-4e87-8589-210447cfb643",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19Ul54s72JLeUmL3Iw_ag3-9ypSFBLU1HeS0AsbkAzF0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Ul54s72JLeUmL3Iw_ag3-9ypSFBLU1HeS0AsbkAzF0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -16,
        -16
      ],
      "id": "00dbdeb6-55db-4d87-902b-76ac422fa777",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kin36W8GC7Hgzy3q",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "O3-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Evaluate this option: \"{{ $('Get row(s) in sheet').item.json['Decision query'] }}\"\n\nFor Pros and Cons, consider these categories internally:\nCost Efficiency, Implementation Speed, Scalability, User Experience / Adoption, Innovation / Competitive Advantage, Sustainability / Environmental Impact, Risk Reduction (for Pros)\nand\nUpfront Costs, Technical Challenges, Regulatory / Legal Issues, User Resistance, Maintenance Complexity, Security / Privacy Concerns, Long-Term Risks (for Cons).\n\nReturn your answer in this exact format, separating each part with ::\n\nPros: [a summary of all relevant positive aspects, implicitly covering the categories above] ::\nCons: [a summary of all relevant negative aspects, implicitly covering the categories above] ::\nRisk level: [Low/Medium/High] (include a brief explanation or comment here) ::\nFinal recommendation: [Yes/No/Maybe]\n\nUse :: only as separators and do not include category names in your output."
            },
            {
              "content": "\"you are an expert strategist with ability to predict future\"",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        464,
        -224
      ],
      "id": "1bbc4e45-3aab-47cd-8079-01138d2a6b19",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "EeReXxXf6Etbzrgn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19Ul54s72JLeUmL3Iw_ag3-9ypSFBLU1HeS0AsbkAzF0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Ul54s72JLeUmL3Iw_ag3-9ypSFBLU1HeS0AsbkAzF0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Pros": "={{ $json.pros }}",
            "Cons": "={{ $json.cons }}",
            "Risk level": "={{ $json.score }}",
            "Final recommmendation": "={{ $json.recommendation }}",
            "row_number": 0,
            "Decision query": "={{ $('Update row in sheet1').item.json['Decision query'] }}",
            "no": "={{ $('Update row in sheet1').item.json.no }}"
          },
          "matchingColumns": [
            "no"
          ],
          "schema": [
            {
              "id": "no",
              "displayName": "no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decision query",
              "displayName": "Decision query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pros",
              "displayName": "Pros",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cons",
              "displayName": "Cons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk level",
              "displayName": "Risk level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final recommmendation",
              "displayName": "Final recommmendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1216,
        0
      ],
      "id": "7b004cb3-f081-4496-8884-8cdca2c5ba92",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kin36W8GC7Hgzy3q",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over all input items\nreturn $input.all().map((item) => {\n  const inputText = item.json['Full content'] || \"\";\n\n  // Split by custom delimiter \"::\"\n  let chunks = inputText.split(\"::\").map(part => part.trim());\n\n  // Strip labels like \"Pros:\", \"Cons:\", etc.\n  chunks = chunks.map(part =>\n    part.replace(/^\\s*(pros|cons|risk level|final recommendation|score):?\\s*/i, '').trim()\n  );\n\n  // Ensure 4 fields\n  while (chunks.length < 4) {\n    chunks.push('');\n  }\n\n  return {\n    json: {\n      pros: chunks[0],\n      cons: chunks[1],\n      score: chunks[2],\n      recommendation: chunks[3]\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        0
      ],
      "id": "3520b65e-f0ad-4c23-bb6a-10839ceb2ef4",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19Ul54s72JLeUmL3Iw_ag3-9ypSFBLU1HeS0AsbkAzF0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2018210423,
          "mode": "list",
          "cachedResultName": "Internal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Ul54s72JLeUmL3Iw_ag3-9ypSFBLU1HeS0AsbkAzF0/edit#gid=2018210423"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "no": "={{ $('Get row(s) in sheet').item.json.no }}",
            "Decision query": "={{ $('Get row(s) in sheet').item.json['Decision query'] }}",
            "Status": "done",
            "Full content": "={{ $json.message.content }}"
          },
          "matchingColumns": [
            "no"
          ],
          "schema": [
            {
              "id": "no",
              "displayName": "no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decision query",
              "displayName": "Decision query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full content",
              "displayName": "Full content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        832,
        -224
      ],
      "id": "eeaa5815-f029-48b2-802c-e20f7c5ccf19",
      "name": "Update row in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kin36W8GC7Hgzy3q",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60930789-f2c4-4380-b32f-d77f2ef4545b",
              "leftValue": "={{ $json.Pros }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        -16
      ],
      "id": "9e3538c2-344e-4570-84b4-911b67744543",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c649cfc-36c9-4b93-8f30-adda07cf93b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7607b959fbe72b529ba19dae3d13303a73e2ecaf5731225a833f7774bf07bed6"
  },
  "id": "PbYjHuOcqgOQXRIE",
  "tags": []
}